{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'banner_default.html' %}
<section class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div>
                        <h2>{{ vacancy.title }}</h2>
                        <!--                <div>-->
                        <!--                  <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>Puma</span>-->
                        <!--                  <span class="m-2"><span class="icon-room mr-2"></span>New York City</span>-->
                        <!--                  <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary">Full Time</span></span>-->
                        <!--                </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="btn btn-block btn-light btn-md"><span
                                class="icon-heart-o mr-2 text-danger"></span>Save Job</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-block btn-primary btn-md">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                            class="icon-align-left mr-3"></span>Job Description</h3>
                    <p>{{ vacancy.description }}</p>
                </div>
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                            class="icon-align-left mr-3"></span>Skills</h3>
                    <p>
                        {% for skill in vacancy.skills.all %}
                        {{ skill.name }}
                        {% endfor %}
                    </p>
                </div>
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                            class="icon-align-left mr-3"></span>Job Employer</h3>
                    <ul class="job-listings mb-5">
                        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                            <a href="{% url 'details' vacancy.profile.user.username %}"></a>
                            <div class="job-listing-logo">
                                <img src="{{ vacancy.profile.get_logo_url }}" alt="Image" class="img-fluid">
                            </div>

                            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                    <h2>{{ vacancy.profile.company_name }}</h2>
                                </div>
                                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                    <span class="icon-room"></span>
                                </div>
                                <div class="job-listing-meta">
                                    <span class="badge badge-success">Since {{ vacancy.profile.created_at.date.year }}</span>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">${{ vacancy.salary }} / month</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"><strong class="text-black">Location:</strong> {{ vacancy.location }}
                        </li>
                        <li class="mb-2"><strong class="text-black">Year experience:</strong> {{ vacancy.year_experience }}
                        </li>
                        <li class="mb-2"><strong class="text-black">English level:</strong> {{ vacancy.get_english_level_display }}
                        </li>
                        <li class="mb-2"><strong class="text-black">Format:</strong> {{ vacancy.job_format}}
                        </li>
                        <li class="mb-2"><strong class="text-black">Publication:</strong> {{ vacancy.created_at.date }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
