{% extends "base.html" %}

{% block content %}
{% include 'banner_default.html' %}

    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2 class="mb-4">Login into WorkHub</h2>
            <form method="post">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="{{ form.username.auto_id }}">Username</label>
                  <input type="text" class="form-control" name="{{ form.username.name }}"
                         id="{{ form.username.auto_id }}" required>
                </div>
              </div>
               <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="{{ form.password.auto_id }}">Password</label>
                  <input type="password" class="form-control" name="{{ form.password.name }}"
                    id="{{ form.password.auto_id }}" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Log In" class="btn px-4 btn-primary text-white">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}