{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'banner_default.html' %}

<section class="section py-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="widget personal-info p-4 bg-white rounded shadow-sm">
                    {% include 'account/navbar.html' %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 mb-3">
    <img src="{{ request.user.employer_profile.get_logo_url }}" alt="Image" class="img-fluid mb-2 rounded">
    <label class="btn btn-primary btn-md btn-file w-100">
        Browse Photo
        <input type="file" name="photo" id="photo">
    </label>
</div>

                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label class="form-label">{{ form.company_name.label }}</label>
                                    {{ form.company_name }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">{{ form.company_description.label }}</label>
                                    {{ form.company_description }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">{{ form.company_url.label }}</label>
                                    {{ form.company_url }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">{{ form.location.label }}</label>
                                    {{ form.location }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
