<div class="row">
    <div class="col-12">
        <nav class="nav nav-pills nav-fill">
            <a href="{% url 'account' %}"
               class="nav-link {% if request.resolver_match.url_name == 'account' %}active{% endif %}">
                <i></i> My Account
            </a>
            <a href="{% url 'profile' %}"
               class="nav-link {% if request.resolver_match.url_name == 'seeker_profile' %}active{% endif %}">
                <i></i> Profile
            </a>
            <a href="" class="nav-link {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                <i></i> Settings
            </a>
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
               class="nav-link">
                <i></i> Logout
            </a>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>

        </nav>
    </div>
</div>
